---
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";

import { CONTENT_TYPES, contentfulClient } from "@/lib/contentful";
import type { PageBlogPost } from "@/lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

export const prerender = true;
export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<PageBlogPost>({
    content_type: CONTENT_TYPES.BLOG_POST,
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.fields.date).toLocaleDateString(),
    },
  }));
  return pages;
}

const { content, title, date } = Astro.props;
---

<Layout title={title}>
  <div class="container max-w-7xl lg:p-8 mx-auto">
    <h1 class="text-4xl mb-4 text-center font-bold">{title}</h1>
    <p class="text-center">Published: {date}</p>
    <Prose>
      <article set:html={content} />
    </Prose>
  </div>
</Layout>
