---
import { configuration } from "@/configuration";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Breadcrumbs from "@/components/Breadcrumbs";

import { CONTENT_TYPES, contentfulClient } from "@/lib/contentful";
import type { PortfolioCollection } from "@/lib/contentful";

export const prerender = true;
const entries = await contentfulClient.getEntries<PortfolioCollection>({
  content_type: CONTENT_TYPES.PORTFOLIO_COLLECTION,
});

const collections = entries.items.map((item) => {
  const { title, slug, description, photos } = item.fields;

  const formattedPhotos = photos
    .map((photo) => {
      if ("fields" in photo) {
        const { title, slug, content, image, products } = photo.fields;
        return {
          title,
          slug,
          content,
          image: image && "fields" in image ? image.fields : null,
          products,
        };
      }
      return null;
    })
    .filter(Boolean);
  return {
    title,
    slug,
    description,
    photos: formattedPhotos,
  };
});
---

<Layout title={configuration.siteTitle}>
  <section class="p-6 lg:px-8">
    <Breadcrumbs
      breadcrumbs={[{ name: "Home", href: "/" }]}
      name={"Collections"}
      href={`/collections`}
    />
    <ul>
      {
        collections.map((collection) => (
          <Card
            href={`/collections/${collection.slug}`}
            title={collection.title}
            body={collection.description}
          />
        ))
      }
    </ul>
  </section>
</Layout>
