---
import { configuration } from "@/configuration";
import Layout from "@/layouts/Layout.astro";
import PhotoGrid from "@/components/PhotoGrid";

import { CONTENT_TYPES, contentfulClient } from "@/lib/contentful";
import type { PortfolioItem } from "@/lib/contentful";

const entries = await contentfulClient.getEntries<PortfolioItem>({
  content_type: CONTENT_TYPES.PORTFOLIO_ITEM,
});

const photos = entries.items.map((item) => {
  const { title, slug, image } = item.fields;

  const formattedImage =
    image && "fields" in image
      ? {
          id: image.sys.id,
          imageSrc: image.fields.file?.url as string,
          imageAlt: image.fields.title as string,
          height: image.fields.file?.details?.image?.height as number,
          width: image.fields.file?.details?.image?.width as number,
        }
      : null;
  return {
    title,
    slug,
    image: formattedImage,
  };
});
---

<Layout title={configuration.siteTitle}>
  <section class="p-6 lg:px-8">
    <PhotoGrid
      id="portfolio"
      photos={photos.map((photo) => ({
        title: photo?.title as string,
        src: photo?.image?.imageSrc as string,
        alt: photo?.image?.imageAlt as string,
        height: photo?.image?.height as number,
        width: photo?.image?.width as number,
      }))}
      client:load
    />
  </section>
</Layout>
