---
import { configuration } from "@/configuration";
import Layout from "@/layouts/Layout.astro";

import { CONTENT_TYPES, contentfulClient } from "@/lib/contentful";
import type { PortfolioCollection } from "@/lib/contentful";

const entries = await contentfulClient.getEntries<PortfolioCollection>({
  content_type: CONTENT_TYPES.PORTFOLIO_COLLECTION,
});

const collections = entries.items.map((item) => {
  const { title, slug, description, photos } = item.fields;
  return {
    title,
    slug,
    description,
    photos,
  };
});

console.log({ collections });
---

<Layout title={configuration.siteTitle}>
  <!-- <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`}>
            <h2>{post.title}</h2>
          </a>
          <time>{post.date}</time>
        </li>
      ))
    }
  </ul> -->
</Layout>
