---
import { configuration } from "@/configuration";
import Layout from "@/layouts/Layout.astro";

import { CONTENT_TYPES, contentfulClient } from "@/lib/contentful";
import type { PortfolioCollection } from "@/lib/contentful";

const entries = await contentfulClient.getEntries<PortfolioCollection>({
  content_type: CONTENT_TYPES.PORTFOLIO_COLLECTION,
});

const collections = entries.items.map((item) => {
  const { title, slug, description, photos } = item.fields;

  const formattedPhotos = photos
    .map((photo) => {
      if ("fields" in photo) {
        const { title, slug, content, image, products } = photo.fields;
        return {
          title,
          slug,
          content,
          image: image && "fields" in image ? image.fields : null,
          products,
        };
      }
      return null;
    })
    .filter(Boolean);
  return {
    title,
    slug,
    description,
    photos: formattedPhotos,
  };
});
---

<Layout title={configuration.siteTitle}>
  <ul>
    {
      collections.map((collection) => (
        <li>
          <a href={`/collections/${collection.slug}/`}>
            <h2>{collection.title}</h2>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
